Package: com.ps.emojiresources
Name: EmojiResources
Depends: firmware (>= 7.0), firmware (<< 9.1), mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Latest emoji category icons.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Tag: compatible::ios7, compatible::ios8, compatible::ios9
