Package: com.ps.emojiresources
Name: EmojiResources
Depends: firmware (>= 7.0), firmware (<< 9.1), mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Extra Emoji category icons.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
